<div class="container">
  <h1>User Skills and Levels</h1><br>

  <%# TODO: display the skills and proficiency levels for each user ... %>
  <table id="users">

    <tr>
      <th>Name</th>
      <th>Skill</th>
      <th>Years</th>
      <th>Formal?</th>
    </tr>

    <% @users.each do |user| %>
      <tr>

        <td><%= "#{user.name}" %></td>

        <% user_id = user.id %>
        <% user_proficiences = Proficiency.find(:all, :conditions => {:user_id => user_id}) %>
        <% user_proficiences.each do |proficiency| %>

            <td><%= "#{proficiency.skill.name}" %></td>
            <td><%= "#{proficiency.years_of_experience}" %></td>
            <td><%= "#{proficiency.formal_education}" %></td>
          </tr>
          <tr>
            <td><%= "" %></td>

        <% end %>
      </tr>
    <% end %>
  </table>
</div>
